
      



  .heados{
    padding-bottom: 8%;
    color:#0e3a74;
      margin-top:4%;
      font-family:Arial, Helvetica, sans-serif;
      text-align: center;
      padding-top: 4%;
      padding-bottom:4%;
      margin-left: 5%;
      
  }


.photos{
    width:306px;
    border-radius: 0%;
    height: 200px;


}
.item{
    margin-top:1%;
}

.prime{
    border-radius:0%;
    width: 306px;
    margin-top:2px;
    height: 200px;
    
    
    
  }
   .gallery{
    position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color:white;
  font-size:17px;
  width: 100%; 
  padding:3px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 0%;
  margin-left: -13%;
  
  }

  .but3{
    padding-left: 40px;
    padding-right: 40px;
    background-color:#0e3a74;
    margin-top: 70px;
    border-radius: 0%;
    margin-left: 43%;
  }
   